In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [23]:
## Load the dataset
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Feature Engineering

In [24]:
## Preprocess Data
## Drop irrelevant data
data = data.drop(['RowNumber','CustomerId','Surname'], axis = 1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [25]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

We cant do Label encoding to countries , because if we do so , it will give numeric values to each coutry say france 0 , spain 1 , germany 2 , so ANN might consider germany(2) greater than france(0)

In [26]:
## Onehot encoding Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [27]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [28]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns = onehot_encoder_geo.get_feature_names_out(['Geography']))

We had to convert geo_encoder into an array because the output of OneHotEncoder is a sparse matrix by default, which is efficient for storage but not easy to view or use directly.

By calling .toarray(), we convert the sparse matrix into a regular NumPy array, making it compatible with pandas and easier to inspect, visualize, and use for further processing or modeling. This step is especially useful when we want to create a DataFrame or need the encoded data in a standard array format.

In [29]:
## Combine one hot encoded columns with the original data
data = pd.concat([data.drop('Geography',axis = 1),geo_encoded_df],axis = 1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [30]:
## Save the encoders
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [31]:
## Divide the dataset into dependent and independent features
## Exited is dependent , other all are independent
## Basically setting Exited as the target feature

X = data.drop('Exited',axis = 1)
y = data['Exited']

## Split dataset into training and testing set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.8,random_state=42)

## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

##  For the test data, we use only transform (not fit) so that the test data is scaled using the same parameters learned from 
##  the training data. This ensures that both training and test data are scaled consistently.

In [32]:
## Save the scaler 
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN Implementation

In [33]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import Input
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [34]:
## Build our ANN model
model = Sequential([
    Input(shape=(X_train.shape[1],)),
    Dense(64, activation='relu'), ## HL1 connected with input layer
    Dense(32, activation='relu'), ## HL2
    Dense(1 , activation='sigmoid') ## output later
])

In [35]:
## Compile the model (set optimiser , loss fn , metrics)

model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

## Can be done like this as well if we want customised optimisers , loss , etc
## opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
## loss = tensorflow.keras.losses.BinaryCrossentropy()
## model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [36]:
## Set up the Tensorboard
log_dir = 'logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [37]:
## Set up Early Stopping
## Suppose if we set out model to train for 100 epochs , but after say 20 epochs the model has been train to its optimal form , the loss fn is not decreasing anymore , we dont run 
## the next epochs , so basically we early stop

early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [38]:
## Train the model
history = model.fit(
    X_train,y_train,validation_data = (X_test, y_test), 
    epochs = 100 , 
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 2s 18ms/step - accuracy: 0.7455 - loss: 0.5227 - val_accuracy: 0.8071 - val_loss: 0.4441
Epoch 2/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.8150 - loss: 0.4289 - val_accuracy: 0.8154 - val_loss: 0.4249
Epoch 3/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8290 - loss: 0.4110 - val_accuracy: 0.8210 - val_loss: 0.4159
Epoch 4/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8340 - loss: 0.3982 - val_accuracy: 0.8209 - val_loss: 0.4115
Epoch 5/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - accuracy: 0.8345 - loss: 0.3886 - val_accuracy: 0.8278 - val_loss: 0.4004
Epoch 6/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8455 - loss: 0.3791 - val_accuracy: 0.8301 - val_loss: 0.3948
Epoch 7/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8475 - loss: 0.3704 - val_accuracy: 0.8353 - val_loss: 0.3878
Epoch 8/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8510 - loss: 0.3610 - val_accuracy: 0.8391 - val_loss: 0.3824
Epoch 9/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8530 - loss: 0.3524 - val_accuracy: 0.8420 - val_loss: 0.3784
Epoch 10/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8600 - loss: 0.3455 - val_accuracy: 0.8447 - val_loss: 0.3726
Epoch 11/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.8625 - loss: 0.3377 - val_accuracy: 0.8441 - val_loss: 0.3701
Epoch 12/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8635 - loss: 0.3310 - val_accuracy: 0.8459 - val_loss: 0.3674
Epoch 13/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8635 - loss: 0.3261 - val_accuracy: 0.8470 - val_loss: 0.3654
Epoch 14/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8670 - loss: 0.3220 - val_accuracy: 0.8482 - val_loss: 0.3641
Epoch 15/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8715 - loss: 0.3148 - val_accuracy: 0.8474 - val_loss: 0.3681
Epoch 16/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8695 - loss: 0.3135 - val_accuracy: 0.8476 - val_loss: 0.3632
Epoch 17/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.8735 - loss: 0.3092 - val_accuracy: 0.8494 - val_loss: 0.3619
Epoch 18/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8710 - loss: 0.3052 - val_accuracy: 0.8503 - val_loss: 0.3618
Epoch 19/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.8740 - loss: 0.3006 - val_accuracy: 0.8497 - val_loss: 0.3630
Epoch 20/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8720 - loss: 0.2992 - val_accuracy: 0.8499 - val_loss: 0.3625
Epoch 21/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8785 - loss: 0.2956 - val_accuracy: 0.8480 - val_loss: 0.3666
Epoch 22/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8740 - loss: 0.2927 - val_accuracy: 0.8493 - val_loss: 0.3641
Epoch 23/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8800 - loss: 0.2879 - val_accuracy: 0.8509 - val_loss: 0.3699
Epoch 24/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8790 - loss: 0.2887 - val_accuracy: 0.8506 - val_loss: 0.3665
Epoch 25/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8790 - loss: 0.2836 - val_accuracy: 0.8490 - val_loss: 0.3695
Epoch 26/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8875 - loss: 0.2810 - val_accuracy: 0.8504 - val_loss: 0.3688
Epoch 27/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.8865 - loss: 0.2802 - val_accuracy: 0.8446 - val_loss: 0.3763
Epoch 28/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8810 - loss: 0.2811 - val_accuracy: 0.8485 - val_loss: 0.3732

In [39]:
model.save('model.keras')

In [40]:
## load tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [41]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 16920), started 3:41:18 ago. (Use '!kill 16920' to kill it.)